<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/assets/css/loginnn.css">
</head>
<body>
   <ul class="home">
            <li class="active"><a href="login.html">Log out</a></li>
        </ul>

    <div class="main-container">
        <div class="form-container">

            <div class="form-body">

                <h3>STUDENT REGISTRATION FORM</h3>

                {% if messages %}
                 <ul class="messages">
                 {% for message in messages %}
                 <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}


<form action="submit" method="POST" class="the-form">
    {% csrf_token %}
<table align="center" cellpadding = "10">
 
<tr>
<td>Candidate Name</td>
<td><input type="text" name="Candidate_Name" maxlength="30"/>
</td>
</tr>

<tr>
<td>Gender(M/F)</td>
<td><input type="text" name="Gender" maxlength="1"/>
</td>
</tr>

<tr>
<td>University</td>
<td><input type="text" name="University" maxlength="50"/>
</td>
</tr>

<tr>
<td>Institute Name</td>
<td><input type="text" name="Institute_Name" maxlength="50"/>
</td>
</tr>

<tr>
<td>Course</td>
<td><input type="text" name="Course" maxlength="15"/>
</td>
</tr>

<tr>
<td>Branch</td>
<td><input type="text" name="Branch" maxlength="25"/>
</td>
</tr>

<tr>
<td>Roll Number</td>
<td><input type="text" name="Roll_Number" maxlength="30"/>
</td>
</tr>

<tr>
<td>Result Status(P/F)</td>
<td><input type="text" name="Result_Status" maxlength="1"/>
</td>
</tr>

<tr>
<td>SGPA</td>
<td><input type="text" name="SGPA" maxlength="5"/>
</td>
</tr>

<tr>
<td>ADDRESS <br /><br /><br /></td>
<td><textarea name="Address" rows="4" cols="30"></textarea></td>
</tr>



<tr>
<td colspan="2" align="center">
<input type="submit" value="Submit">
</td>
</tr>
</table>
</form>

        </div><!-- FORM CONTAINER -->
    </div>

</body>
</html>